// Sidebar
$menuText: #1D2129; // Regular Text
$menuActiveText:#165DFF; // Primary Blue
$subMenuActiveText: #165DFF; // Primary Blue

$menuBg: #FFFFFF;
$menuHover: rgba(0, 0, 0, 0.04); // Subtle hover
$menuActiveBg: rgba(0, 0, 0, 0.04);; // Light primary background

$subMenuBg: #FFFFFF;
$subMenuHover: rgba(0, 0, 0, 0.04);

// Menu Item Dimensions (REM based, assuming 16px root)
$menuItemHeight: 42px; // 42px
$menuItemRadius: 6px; // 6px
$menuItemMargin: 4px 8px; // 4px 16px
$menuItemFontSize: 14px; // 14px
$menuIconSpacing: 8px; // 12px (Adjusted for better optical balance)
$menuIconSize: calc($menuItemFontSize * 1.25) ; // 12px (Adjusted for better optical balance)
$menuArrowSize: 14px; // 12px
$menuArrowColor: #86909C; // Neutral Gray

// Logo
$sideLogoHeight: 48px;
$sideLogoFontSize: 1.125rem; // 18px
$sideLogoFontWeight: 600;

$sideBarWidth: 230px;
$sideBarWidthCollapsed: 74px;

// Navbar
$navbarHeight: 48px;
$navbarBg: #ffffff;
$navbarShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02);

// TagsView
$tagsViewHeight: 40px;
$tagsViewBg: #FFFFFF;

// Main Content
$mainBg: #f2f3f5; // Matches --color-bg-layout

// Colors
$primary: #165DFF;
$success: #00B42A;
$warning: #FF7D00;
$danger: #F53F3F;
$info: #86909C;
