@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #165DFF,
    ),
    'success': (
      'base': #00B42A,
    ),
    'warning': (
      'base': #FF7D00,
    ),
    'danger': (
      'base': #F53F3F,
    ),
    'info': (
      'base': #86909C,
    ),
  ),
  $text-color: (
    'primary': #1D2129,
    'regular': #4E5969,
    'secondary': #86909C,
    'placeholder': #C9CDD4,
  ),
  $border-color: (
    'base': #E5E6EB,
    'light': #F2F3F5,
    'lighter': #F7F8FA,
    'extra-light': #FFFFFF,
  ),
  $fill-color: (
    'base': #F0F2F5,
    'light': #FAFBFC,
    'lighter': #FAFBFC,
    'extra-light': #FFFFFF,
  ),
  $font-size: (
    'base': 14px,
  ),
  $border-radius: (
    'base': 4px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  ),
  $box-shadow: (
    'base': (
      0 1px 10px 0 rgba(0, 0, 0, 0.05),
      0 4px 5px 0 rgba(0, 0, 0, 0.03),
      0 2px 4px -1px rgba(0, 0, 0, 0.04),
    ),
    'light': (
      0 4px 12px 0 rgba(0, 0, 0, 0.04),
    ),
  ),
);
